$sectionMargin: clamp(10px,10vw,300px);

button {
	background-color: red;
	color:white;
	align-self: flex-end;
	border-radius: 1em;
	border:solid 1px red;
	cursor:pointer;
	transition: background .5s, color .5s;
	margin:2px;
	box-sizing: border-box;

	&:hover {
		background:white;
		color:red;
	}

	&.cancelButton {
		background-color: gray;
		border:solid 1px gray;

		&:hover {
			background:white;
			color:gray;
		}
	}

	&.backButton {
		margin-left: $sectionMargin;
		width:max-content;
	}
}

section {
	margin-left: $sectionMargin;
	margin-right: $sectionMargin;
	justify-content: center;
}