button {
	background-color: red;
	color:white;
	align-self: flex-end;
	border-radius: 1em;
	width:100%;
	border:solid 1px red;
	cursor:pointer;
	transition: background .5s, color .5s;
	margin:2px;
	box-sizing: border-box;

	&:hover {
		background:white;
		color:red;
	}

	
}

.returnButton {
	margin-left: clamp(25px,25vw,300px);
	width:max-content;
}

section {
	margin-left: clamp(25px,25vw,300px);
	margin-right: clamp(25px,25vw,300px);
}